html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body .container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.company2center, .section3center, .sectioncontainer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #1c1f23;
}
body .container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
body .container .wrap h1 {
  font-size: 35px;
  color: #fafafa;
  background-color: #377dff;
  height: 90px;
  max-width: 200px;
  width: 100%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-width: auto;
}
body .container .wrap .button {
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: #377dff;
  border-radius: 25px;
  color: #fafafa;
}
body .container .wrap .navwrap {
  max-width: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body .container .wrap .navwrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 600px;
  width: 100%;
  font-size: 20px;
  color: #d1e0fb;
}
body .container .wrap .navwrap .nav a {
  color: #d1e0fb;
}

.sectioncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 90px;
}
.sectioncontainer .backbord {
  max-width: 1600px;
  width: 100%;
  height: 110px;
  left: 0;
  top: 40px;
  background-color: #377dff;
  position: absolute;
  z-index: 1;
  border-bottom-left-radius: 122px;
  border-top-right-radius: 122px;
}
.sectioncontainer .backbord2 {
  max-width: 1125px;
  width: 100%;
  height: 130px;
  background-color: #377dff;
  position: absolute;
  z-index: 1;
  border-bottom-left-radius: 122px;
  border-bottom-right-radius: 122px;
  right: 0;
  bottom: 160px;
}
.sectioncontainer .leftblock {
  max-width: 300px;
  width: 100%;
  color: #fafafa;
  margin-top: 20px;
  z-index: 10;
}
.sectioncontainer .leftblock h3 {
  font-size: 13px;
  color: #377dff;
}
.sectioncontainer .leftblock h1 {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.sectioncontainer .leftblock p {
  color: #d1e0fb;
  font-size: 20px;
}
.sectioncontainer .leftblock .buttonwrap {
  max-width: 355px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
.sectioncontainer .leftblock .buttonwrap .but1 {
  max-width: 135px;
  width: 100%;
  height: 40px;
  border: 2px #377dff solid;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all, 1s, ease-in;
  transition: all, 1s, ease-in;
}
.sectioncontainer .leftblock .buttonwrap .but1:hover {
  background-color: #377dff;
}
.sectioncontainer .leftblock .buttonwrap a {
  color: #fafafa;
}
.sectioncontainer .rightblock {
  max-width: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}
.sectioncontainer .rightblock .box {
  max-width: 255px;
  width: 100%;
  height: 284px;
  background-color: #2d2f33;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 20px 10px;
  padding: 20px;
  line-height: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.sectioncontainer .rightblock .box h1 {
  font-size: 20px;
  color: #fafafa;
  margin-top: 25px;
  margin-bottom: 10px;
}
.sectioncontainer .rightblock .box p {
  font-size: 16px;
  color: #d1e0fb;
}
.sectioncontainer .rightblock .box .boxcr {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 128, 0.1);
  margin-top: 20px;
}

.section2container {
  max-width: 1178px;
  width: 100%;
  margin: 0 auto;
}
.section2container .titlewrap {
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-top: 100px;
}
.section2container .titlewrap h1 {
  font-size: 40px;
  color: #fafafa;
}
.section2container .titlewrap P {
  font-size: 20px;
  color: #d1e0fb;
}
.section2container .box2wrap {
  max-width: 1178px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  margin-top: 88px;
}
.section2container .box2wrap .box2 {
  max-width: 350px;
  width: 100%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 20px;
  margin: 15px;
}
.section2container .box2wrap .box2 p {
  color: #d1e0fb;
  margin-left: 70px;
  font-size: 20px;
}
.section2container .box2wrap .box2 .boximgwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
.section2container .box2wrap .box2 .boximgwrap h1 {
  color: #fafafa;
  margin-left: 18px;
  font-size: 25px;
}

footer {
  background-color: #0c0c0d;
}

.containerfooter {
  max-width: 1412px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 0;
}
.containerfooter .footerleft h1 {
  font-size: 35px;
  color: #fafafa;
  margin-bottom: 25px;
}
.containerfooter .footerleft p {
  font-size: 20px;
  color: #d1e0fb;
}
.containerfooter .footerleft .footerimgwr {
  max-width: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 160px;
}
.containerfooter .footerleft .span {
  color: #77838f;
}
.containerfooter .liwrap {
  max-width: 917px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.containerfooter .liwrap .element h3 {
  font-size: 25px;
  color: #fafafa;
  margin-bottom: 40px;
}
.containerfooter .liwrap .element ul {
  line-height: 30px;
}
.containerfooter .liwrap .element ul li {
  font-size: 20px;
  color: #d1e0fb;
}

.section3center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  position: relative;
  margin-top: 100px;
}
.section3center .companyleftblock {
  z-index: 2;
  max-width: 560px;
  width: 100%;
}
.section3center .companyleftblock h4 {
  font-size: 13px;
  color: #377dff;
  margin-bottom: 25px;
}
.section3center .companyleftblock h1 {
  font-size: 40px;
  color: #fafafa;
  margin-bottom: 40px;
}
.section3center .companyleftblock p {
  font-size: 20px;
  color: #d1e0fb;
  margin-bottom: 10px;
}
.section3center .companyleftblock .companyprocwrap {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section3center .companyleftblock .companyprocwrap .number {
  font-size: 50px;
  color: #377dff;
}
.section3center .companyleftblock .companyprocwrap p {
  font-size: 20px;
  color: #d1e0fb;
}
.section3center .sosisi {
  max-width: 1600px;
  width: 100%;
  height: 150px;
  left: 0;
  top: 25px;
  background-color: #377dff;
  position: absolute;
  z-index: 1;
  border-top-left-radius: 160px;
  border-bottom-right-radius: 122px;
}
.section3center .companyrightblock {
  z-index: 2;
}

.company2center .company2wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.company2center .company2wrap .company2leftblock {
  margin-top: 50px;
  z-index: 2;
}
.company2center .company2wrap .company2leftblock h1 {
  font-size: 40px;
  color: #fafafa;
  margin-bottom: 30px;
}
.company2center .company2wrap .company2leftblock p {
  font-size: 20px;
  color: #d1e0fb;
  margin-bottom: 10px;
}
.company2center .company2wrap .company2leftblock .quetionsblock {
  margin-top: 50px;
}
.company2center .company2wrap .company2leftblock .quetionsblock .quetionblock {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.company2center .company2wrap .company2leftblock .quetionsblock .quetionblock .textcontent {
  max-width: 391px;
  width: 100%;
}
.company2center .company2wrap .company2leftblock .quetionsblock .quetionblock .textcontent h4 {
  font-size: 25px;
  color: #fafafa;
  margin-bottom: 25px;
}
.company2center .company2wrap .company2leftblock .quetionsblock .quetionblock .textcontent p {
  font-size: 20px;
  color: #d1e0fb;
  margin-bottom: 10px;
}
.company2center .company2wrap .sosisi2 {
  max-width: 1600px;
  width: 100%;
  height: 150px;
  left: 0;
  top: 30px;
  background-color: #377dff;
  position: absolute;
  z-index: 1;
  border-top-left-radius: 160px;
  border-bottom-right-radius: 122px;
}
.company2center .company2wrap .company2rightblock {
  z-index: 2;
}

.section3center .sec3left {
  z-index: 2;
}
.section3center .sosisi3 {
  max-width: 1600px;
  width: 100%;
  height: 150px;
  left: 0;
  top: 30px;
  background-color: #377dff;
  position: absolute;
  z-index: 1;
  border-bottom-left-radius: 160px;
  border-top-right-radius: 122px;
}
.section3center .sec3right {
  z-index: 2;
}
.section3center .sec3right h1 {
  font-size: 40px;
  color: #fafafa;
  margin-bottom: 10px;
  margin-top: 40px;
}
.section3center .sec3right p {
  font-size: 20px;
  color: #d1e0fb;
  margin-top: 50px;
}/*# sourceMappingURL=global.css.map */