@mixin flex($flex ,$just) {
    display: $flex;
    justify-content:$just;
}

@mixin center($reason ,$center ,$centeral) {
    display: $reason;
    justify-content: $center;
    align-items: $centeral;
}
@mixin column($fle ,$col ,$aly) {
    display: $fle;
    flex-direction: $col;
    align-items: $aly;
}

@mixin columnspace($flex2 ,$colum ,$space) {
    display: $flex2;
    flex-direction: $colum;
    justify-content: $space;
}
@mixin wrap($dos ,$wrap ,$direct) {
    display: $dos;
    flex-wrap: $wrap;
    justify-content: $direct;
}